<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Express Cars!</title>

	<style>
		div{
			margin-left: 300px;
		}
		img{
			height: 300px;
		}
	</style>
</head>
<body>
	<div>
		<% for (var c in cars) { %>
			<h1>Make: <%= cars[c].make  %></h1>
			<img src="/<%= cars[c].image %>" type="jpeg">
			<h4>Model: <%= cars[c].model %></h4>
			<h4>Cupholders: <%= cars[c].cupholders %></h4>
			<h4>Races won: </h4>
			<ul>
			<% for (var rw in cars[c].races_won) { %>
				<li><h5><%= cars[c].races_won[rw] %></h5></li>
				<% } %>
			</ul>
		<% } %>
		</div>
</body>
</html>
